fastapi
uvicorn
mcp[cli]
langchain-groq
langchain-mcp-adapters
langgraph
yfinance
scikit-learn
pandas
numpy
joblib
pydantic
python-dotenv
mlflow
matplotlib
sqlalchemy[asyncio]
asyncpg
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
